.Red-card {
  background-color: rgb(255, 53, 53);
}

.Blue-card {
  background-color: rgb(40, 18, 235);
}

.card {
  width: 3em;
  height: 4.5em;
  border: 3px solid;
  border-radius: .3em;
  display: inline-block;
  margin: .5em;
  text-align: center;
  line-height: 4.5em;
  font-size: 2em;
  font-weight: bold;
}
