.card {
  max-width: 120px;
  display: inline-block;
  margin: 10px;
  border-radius: .3em;
  padding: .3em;
}

.Red {
  background-color: red;
}

.Blue {
  background-color: blue;
}

.card img {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  display: block;
}

.example-header-image {
  background-image: url('https://images.all-free-download.com/images/graphiclarge/blank_sticky_note_clip_art_12197.jpg');
  background-size: cover;
  text-align: center;
  font-size: 2em;
}
